[submodule "ThirdParty/glslang"]
	path = ThirdParty/glslang
	url = git@github.com:hzsoft312/glslang.git
[submodule "ThirdParty/SPIRV-Cross"]
	path = ThirdParty/SPIRV-Cross
	url = git@github.com:hzsoft312/SPIRV-Cross.git
[submodule "ThirdParty/SPIRV-Tools"]
	path = ThirdParty/SPIRV-Tools
	url = git@github.com:hzsoft312/SPIRV-Tools.git
[submodule "ThirdParty/SPIRV-Headers"]
	path = ThirdParty/SPIRV-Headers
	url = git@github.com:hzsoft312/SPIRV-Headers.git
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = git@github.com:hzsoft312/googletest.git
